@use "../../abstracts" as *;

.info {
  @include section-size;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  color: $dark-blue;
  position: relative;
  &__title {
    text-align: center;
    font-weight: 900;
  }
  &__para {
    color: $grey;
    font-weight: 400;
  }
  @include up-mobile {
    &,
    &__container {
      &.l {
        @include seperate-items-end;
      }
      &.r {
        @include seperate-items-start;
      }
    }
    &__container,
    &__title {
      &.l {
        @include position-ab-l;
      }
      &.r {
        @include position-ab-r;
      }
    }
    &__container {
      @include size($width: 50vw);
      background-color: transparent;
    }
    &__title {
      width: 100vw;
      line-height: v(57);
      font-size: v(37);
      margin-top: v(120);
    }
    &__content {
      margin-left: rem(5);
      & > div {
        h3 {
          font-size: v(27.5);
          line-height: v(42);
          margin-bottom: v(21);
        }
        p {
          width: 50ch;
          font-size: v(17.4);
          line-height: v(27);
        }
        &:first-child {
          margin-bottom: v(61);
        }
      }
    }
    img {
      width: 50vw;
    }
  }
  @include down-mobile {
    @include section-size;
    &__title,
    &__content {
      margin: 0 auto;
      text-align: center;
      width: 80vw;
    }
    &__title {
      margin-top: v(83, 375);
      margin-bottom: v(29, 375);
      font-size: v(24,375);
      line-height: v(37,375);
    }
    &__subTitle {
      margin-bottom: 10px;
      font-size: v(26.5, 375);
      line-height: v(27.3, 375);
      margin-top: v(30, 375);
    }
    &__para {
      font-size: v(15,375);
      line-height: v(23.6, 375);
    }
    img {
      @include section-size;
    }
  }
}
