@use "../../util" as *;
.hero {
  position: relative;
  width: $widthPage;
  &__bg img {
    width: $widthPage;
  }
  &__wrapper {
    height: $fulHeight;
    @include section-size;
    @include pos-ab-t-l;
    @include seperate-col-items-start;
  }
  @include up-mobile {
    background: $gradient;
  }
}
