@use "../../util" as *;

.navBar {
  // * block styles
  width: $widthPage;
  height: $navHeight;
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 7vw;
  
  // * element styles
  &__logo,
  &__menuIcon,
  &__btn {
    cursor: pointer;
  }
  &__container,
  &__links,
  &__link,
  &__right {
    height: $navHeight;
  }
  &__container {
    width: 80vw;
    margin: auto;
    @include flex-row($justify: flex-start);
  }
  &__menu,
  &__links,
  &__link,
  &__right {
    margin: 0;
    position: relative;
    @include flex-row;
  }

  &__mainLink {
    padding: 5px 0;
    @include flex-row($justify: center);
  }
  &__arrow {
    @include size(7px, 10px);
    .navBar__link:hover & {
      transform: rotate(180deg);
    }
  }

  &__login {
    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
      font-weight: 700;
    }
  }
  &__btn {
    @include btn(none, $dark-pink, white);
    &:active,
    &:hover,
    &:focus {
      @include btn(none, white, $light-pink);
    }
  }

  // * media queries
  @include up-desktop {
    // * element styles
    &__container {
      padding: 0 rem(25);
    }
    &__links {
      margin-left: rem(40);
    }
    &__btn {
      margin-left: 30px;
    }
  }
  @include tablet {
    &__logo {
      font-size: 40px !important;
      width: 90.9px !important;
      height: 36px !important;
    }
    
  }
  @include up-mobile {
    // * element styles
    &__menuIcon {
      display: none;
    }
    &__menu {
      flex-grow: 1;
    }
  }
  @include down-mobile {
    // * element styles
    &__container {
      @include flex-row;
    }
    &__menu {
      background: white;
      border-radius: rem(6);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding-bottom: rem(30);
      padding-top: rem(15);
      width: 90vw;
      z-index: 100;
      @include pos-ab-t-l($top: 100px, $left: 5vw);

      // * modifier styles
      &--hide {
        display: none;
      }
      &--show {
        display: block;
      }
    }
    &__links {
      display: block;
      height: fit-content;
    }
    &__link {
      flex-direction: column;
      height: fit-content;
      justify-content: center;
      margin:   10px 0;
      padding: 0 7.5px;
    }
    &__right {
      border-top: 1.8px solid #e1eeee;
      display: block;
      height: fit-content;
      margin: 0 25px;
      text-align: center;
    }
    &__login {
      padding: 30px 0;
    }
    &__btn {
      margin-left: 20px;
      @include btn(none, white, $gradient);
    }
  }

  &__dropDownMenu {
    border-radius: 4px;
    .navBar__link:hover & {
      display: block;
    }
    display: none;
    position: absolute;
    width: 168px;
    top: 80px;
    background: #ffffff;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.25);
    @include down-mobile {
      position: static;
      width: 80vw;
      text-align: center;
      margin: 15px 0;
      background: #f0eef2;
      border-radius: 4px;
      box-shadow: none;
    }
  }
  &__listItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #1f3c58;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: start;
    @include down-mobile {
      text-align: center;
    }
    &:hover {
      font-weight: 700;
    }
  }
  &__p {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 30px;
    .navBar__link:hover & {
      text-decoration: underline;
      font-weight: 700;
    }
    @include tablet {
      font-size: 12px;
    }
    @include down-mobile {
      color: #1f3c58;
      font-weight: 500;
      .navBar__link:hover & {
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
}
