@use "../../abstracts" as *;
.hook {
  flex: 1;
  width: $widthPage;
  height: 100%;
  @include center-item;
  &__wrapper {
    margin-top: -$navHeight;
    @include center-item;
  }
  &__title {
    font-family: Overpass;
    font-size: calc(1rem + 3vw);
    line-height: calc(5vw + 1rem);
    font-weight: 600;
    width: 80vw;
    text-align: center;
    word-wrap: break-word;

    @include down-mobile {
      width: 85vw;
      font-size: calc(1.8rem + 1.5vw);
      line-height: calc(1rem + 7vw);
    }
  }
  &__subTitle {
    width: 70vw;
    text-align: center;
    margin-bottom: 40px;
    font-size: calc(0.9vw + 0.5rem);
    line-height: calc(1vw + 0.5rem);
    @include down-mobile {
      font-size: calc(0.3vw + 1rem);
      line-height: calc(1vw + 1rem);
    }
  }
  &__btns {
    display: flex;
    &-start {
      cursor: pointer;
      margin-right: 16px;
      @include btn(none, $dark-pink, white);
      &:hover {
        @include btn(none, white, $light-pink);
      }
    }
    &-learn {
      cursor: pointer;
      @include btn(1px solid #ffffff, white, transparent);
      &:hover {
        @include btn(none, $dark-pink, white);
      }
    }
  }
}
