@use "../../util" as *;
.hero {
  // * block styles
  position: relative;

  // * element styles
  &,
  &__bg img {
    width: $widthPage;
  }
  &__container {
    height: $fulHeight;
    @include pos-ab-t-l;
    @include flex-col($justify:flex-start,$dir:column);
  }

  // * media queries
  @include up-mobile {
    // * block styles
    background: $gradient;
  }
}
