@use "../abstracts" as *;

.hero {
  position: relative;
  background: $gradient;
  width: $widthPage;
  @include mobile {
    border-radius: 0px 0px 0px 90px;
    overflow-y: hidden;
  }
  &__bg {
    width: $widthPage;
    height: 100%;
  }
}

.hook {
    position: absolute;
    top: 0;
}
