@use "../abstracts" as *;

.hero {
  position: relative;
  width: $widthPage;
  @include up-mobile {
    background: $gradient;
  }
  &__bg {
    width: $widthPage;
    height: 100%;
    img {
      width: 100vw;
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}


