@use "../abstracts" as *;

.hero {
  position: relative;
  width: $widthPage;
  @include mobile {
    border-radius: 0px 0px 0px 90px;
    overflow-y: hidden;
  }
  &__bg {
    width: $widthPage;
    height: 100%;
    img {
      width: 100vw;
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}


