
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Ubuntu" serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: white;
  background-color:crimson;
  line-height: 18px;
}

.btn {
  font-weight: 700;
  border-radius: 100px;
  box-sizing: border-box;
  width: 139px;
  height: 52px;

}
